= form_tag preview_wowo_path(@wowo.guid), :id => 'wowo_form', :method => :get do
  = render "shared/error_messages", :target => @wowo 
  <input id="wowo_profile_enabled" name="wowo[profile_enabled]" type="hidden" value="true" />
  <input id="wowo_comments_enabled" name="wowo[comments_enabled]" type="hidden" value="true" />  
  #wowo_settings
    =link_to t('settings'), '#', :id => 'show_settings_button', :class => 'button dark', :onclick => "; return false;"
  #wowo_title
    = label_tag 'wowo[name]', t('.wowo_title_label')
    = text_field_tag 'wowo[name]', @wowo.name, :id => 'wowo_name'
    
  #wowo_theme
    %label  #{t('.choose_theme_label')} 
    #theme_browser
      #left_arrow.arrow
      #right_arrow.arrow
      #themes_frame
        #themes
          = render @themes
    = hidden_field_tag 'wowo[theme_id]', @wowo.theme.id, :id => 'wowo_theme_id'
    
  #wowo_url
    = t('.wowo_zap_url_instruction').html_safe
    
  #component_panel_top
  #component_panel
    .component_insert_point
    #component_insert_prompt= t('.component_insert_prompt')
  #component_panel_bottom