%ul
  %li= link_to t('.home'), root_path, :id => 'home'
  %li= link_to t('.contact'), contact_path, :id => 'contact'
  %li= link_to t('.about'), about_path, :id => 'about'
  %li= link_to t('.signin'), new_user_session_path, :id => 'signin' unless user_signed_in?
  %li= link_to t('.signout'), destroy_user_session_path, :id => 'signout' if user_signed_in? 
  